@import '../../Styles/_variaveis.scss';

.rodape{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
    color: $quarta_cor;
    font-family: $font_secundaria;
}