@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');


    $primeira_cor: #2C3639;
    $segunda_cor: #3F4E4F;
    $terceira_cor: #A27B5C;
    $quarta_cor: #DCD7C9;
    
    $font_primaria: 'Krona One', sans-serif;
    $font_secundaria: 'Montserrat', sans-serif;
