@import '../../Styles/variaveis';


.link {
    font-family: $font_secundaria;
    font-size: 1.5rem;
    color: $terceira_cor;
    transition: 1s all;
    text-decoration: none;
}

.linkDestacado {
    text-decoration: underline;
}

.link:hover {
    color: $quarta_cor;
}